os:
  editPreset: 'vscode'
gui:
  language: 'en'
  nerdFontsVersion: "3"
git:
  pagers:
    - colorArg: always
      pager: delta --light --paging=never --line-numbers --hyperlinks --hyperlinks-file-link-format="lazygit-edit://{path}:{line}"
customCommands:
  - key: '<c-f>' # Ctrl-f (think "full screen") to show selected commit
    context: 'commits'
    command: "git show {{.SelectedLocalCommit.Sha}}"
    description: "Show selected commit"
    output: terminal
  - key: 'E'
    context: 'files'
    description: 'Go to first changed line'
    command: >
      sh -c 'line=$(git diff -U0 HEAD -- {{.SelectedFile.Name | quote}} | grep -m1 "^@@" | sed -E "s/.*\+([0-9]+).*/\1/"); code --goto "{{.SelectedFile.Name | quote}}:$line"'

    output: log
  - key: 'T'
    context: 'files'
    description: 'Go to first changed line'
    command: >
      git diff -U0 HEAD -- {{.SelectedFile.Name | quote}} | grep -m1 '^@@' | sed -E 's/.*\+([0-9]+).*/\1/'

    output: log
  - key: 'O'
    context: 'commitFiles'
    description: 'Open diff in VSCode'
    command: 'git difftool -y --tool=vscode {{.SelectedCommit.Sha}}^ {{.SelectedCommit.Sha}} -- {{.SelectedCommitFile.Name | quote}}'
    output: log
